body {
    width: 100%;
    height: 100%;
    margin: 0;
    flex-direction: column;
}

header {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 25px;
    font-weight: 800;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000;
    line-height: 50px;
}

.container {
    margin: 0 3%;
}

nav {
    position: relative;
    margin: 0;
    float: right;
}

nav a {
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    padding: 10px 20px 0;
    line-height: 40px;
    position: relative;
    display: inline-block;
}

nav :hover {
    color: #dbad90;
    border-bottom: 4px solid #dbad90;
}

section {
    background-image: url('../source/uri.png');
    width: 100%;height: 85vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.box {
    padding: 10%;
    text-align: center;
    margin: auto;
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

.inner {
    width: 800px;
    height: 300px;
}

.inner>p {
    margin: 20px;
    color: #fff;
}

.inner :nth-child(1) {
    font-size: 2rem;
    font-weight: 800;
}

.inner :nth-child(2) {
    font-size: 1rem;
}

.inner>a {
    display: block;
    width: 150px;
    font-size: 1.3rem;
    font-weight: 600;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

footer {
    bottom: 0;
    text-align: center;
    margin: auto 5%;
}

@media (max-width: 1024px) {
    section {
        background-image: url('../source/nuri.png');
    }
    .box {
        padding: 3%;
    }
    .inner {
        width: 500px;
    }

    .inner :nth-child(1) {
        font-size: 1.8rem;
        font-weight: 800;
    }

    .inner :nth-child(2) {
        font-size: 0.8rem;
    }

    .inner>a {
        font-size: 1rem;
        padding: 0.8rem;

    }
}

@media (max-width: 768px) {
    .inner>a {
        margin-top: 300px;
    }
}